<!DOCTYPE html>
<html lang="en">
   {% load static %}
   <meta charset="UTF-8">
   <title>Fuhrem</title>
   <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="../static/css/flexboxgrid.min.css" media="all" />
   <link rel="stylesheet" type="text/css" href="../static/css/style.css" media="all" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   </head>
   <body>
      {% load static %}
      <header class="fade-in">
         <div class="navigation-bar flex middle-xs">
            <a href="{% url 'home' %}"><img src="../static/images/logo.png" class="logo"></a> 
            <nav class="end-xs">
               <ul>
                  <li><a href="#intro">About Project</a></li>
                  <li><a href="#fteam">Fuhrem Team</a></li>
                  <li><a href="{% url 'search' %}">Search</a></li>
               </ul>
            </nav>
         </div>
         <div class="hero flex middle-xs" style="background-image: linear-gradient(rgba(6, 6, 6, 1), rgba(6, 6, 6, 0.7)), url('../static/images/hero-image.png');">
            <div class="hero-text ">
               <h1>Fuhrem Project</h1>
               <br>
               <p>Web Scraping App: Your Ultimate Title and Keyword Finder!</p>
               <br>
               <a href="{% url 'search' %}"><button class="light">Search</button></a>
            </div>
         </div>
      </header>
      <div class="wrapper">
         <main>
            <section class="intro" id="intro">
            <div class="container">
               <div class="row">
                  <div class="col-md">
                     <br>
                     <h2 class="section-title">About Project</h2>
                     <br>
                  </div>
               </div>
               <div class="row margin-bottom ">
                  <div class="col">
                     <p class="highlight">On our website, users will be able to choose one of four different categories (photography, vector, illustration, video). They will also specify what they want to search for, and how many results they want to receive.

                        We will utilize the Playwright library to automate web actions, allowing us to retrieve the desired number of keywords and titles from the Shutterstock website, and store this information in our database.
                        
                        We will then process the data from the database based on the user's selections. The resulting information will be presented on our site, including the most appropriate title and keywords. If the user wishes, they can also export this information as an Excel file.
                     </p>                        
                     <hr class="dashed-hr">
                  </div>
               </div>
            </div>
         </main>
      </div>
      </div>
      <section class="fteam" id="fteam">
         <div class="container">
            <div class="row">
               <div class="col-md-12 center-xs">
                  <br><br>
                  <h2>Fuhrem Team</h2>
                  <br>
               </div>
            </div>
            <div class="row team center-xs">
               <div class="col-md">
                  <div class="hover-outer-box">
                     <img class="team-container" src="../static/images/ronay.jpg">
                     <div class="hover-inner-box">
                        <div class="hover-content">
                           <h3>Ronay Öktem</h3>
                           <span class="fa-stack fa-2x">
                           <a href="https://github.com/Poeron" target="blank" rel="noopener"><i class="fa-brands fa-github fa-lg"></i></a>
                           <a href="https://www.linkedin.com/in/ronayoktem/" target="blank" rel="noopener"><i class="fa-brands fa-linkedin"></i></a>
                           </span>
                        </div>
                     </div>
                  </div>
                  <p class="team-name">Ronay Öktem</p>
               </div>
               <div class="col-md">
                  <div class="hover-outer-box">
                     <img class="team-container" src="../static/images/umit.jpg">
                     <div class="hover-inner-box">
                        <div class="hover-content">
                           <h3>Ümit Çiftçi</h3>
                           <span class="fa-stack fa-2x">
                           <a href="https://github.com/Doxa56" target="blank" rel="noopener"><i class="fa-brands fa-github fa-lg"></i></a>
                           <a href="https://www.linkedin.com/in/%C3%BCmit-%C3%A7if%C3%A7i-27357923b/" target="blank" rel="noopener"><i class="fa-brands fa-linkedin"></i></a>
                           </span>
                        </div>
                     </div>
                  </div>
                  <p class="team-name">Ümit Çiftçi</p>
               </div>
                  <br>
               </div>
            </div>
         </div>
      </section>
      </div>
      <div class="row footer" style="background-color: black;">
         <div class="col-md" style="text-align: center;">
            <hr style="color: white;">
            <a href="https://linkedin.com/in/ronayoktem/" style=" color: white;">
               <span class="copy">Copyright &copy;2023 All rights reserved | This Website is made by Fuhrem </span>
            </a>
         </div>
      </div>
      <script src="https://cdn.polyfill.io/v2/polyfill.min.js?callback=polyfillsAreLoaded" defer></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="../static/js/script.js" defer></script>
      <script src="https://kit.fontawesome.com/d8d073e99f.js" crossorigin="anonymous"></script>
   </body>
</html>
